body {
	color: white;
	background-color: black;
}

/**IN TIMELINE**/
.tlpost {
	border: 3px solid white;
	margin-bottom: 5px;
}

.tlpost > .parent {
	background: dimgrey;
	border-bottom: 1px solid black;
}

.tlpost > * {
	padding: 4px;
}

.info {
	display: flex;
	justify-content: space-between;
}

.info > * {
	height: 4em;
	display: inline-flex;
}

.info * > a:any-link {
	all: unset;
	cursor: pointer;
	color: white;
}

.info > div {
	display: flex;
	flex-direction: column;
}

pre {
	all: unset;
}

.servername {
	opacity: 0.5;
}

.content {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.emoji {
	height: 1em;
}

.content * > a {
	color: cyan;
}

.mediaContainer, .mediaContainer > * {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.mediaContainer > a > *, .mediaContainer > video {
	width: 45vw;
}

.interact {
	display: flex;
	justify-content: space-evenly;
	font-size: 1.25em;
}

.loadPosts {
	width: 100%;
	font-size: 1.5em;
	color: black;
	background-color: white;
	cursor: pointer;
}
